body {
  background-color: #504a4a;
}

h2,
h1,
h3,
p,
#jobs {
  color: rgb(221, 213, 213);
}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero,
.jobs-type {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid slategray;
  text-align: center;
}

.hero-image {
  width: 300px;
}

.panel > .panel-heading {
  background-color: #f78f3f;
}

.panel {
  background-color: #504a4a;
  border: solid 1px white;
  text-align: center;
  height: 450px;
  overflow: scroll;
}

.charImage {
  border-radius: 100%;
}

.maleImage {
  border: solid 3px #518cca;
}

.fmaleImage {
  border: solid 3px rgb(238, 52, 176);
}
