body {
  background-color: #504a4a;
}

h2,
h1,
h3,
p {
  color: rgb(221, 213, 213);
}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero,
.jobs-type {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid slategray;
  text-align: center;
}

.hero-image {
  width: 300px;
}
